services:

    jt_mail.pre_mailer:
        class: JT\MailBundle\Mailer\PreMailer
        arguments: ["%jt_mail.pre_mailer.options%"]

    jt_mail.event_listener.pre_sending:
        class: JT\MailBundle\EventListener
        arguments: ["@jt_mail.pre_mailer"]
        tags:
            - { name: jt_mail.pre_sending }

    jt_mail.mailer:
        class: JT\MailBundle\Mailer\JTMailer
        arguments: ["@templating", "@event_dispatcher"]

    jt_mail.test.sending:
        class: JT\MailBundle\Sending\SendingTest
        arguments: ["@jt_mail.mailer"]

